h1{
	
	color: violet;
}
#cabecera{
	position: absolute;
    top: 3%;
    left: 1%;
    height: 65;
    width: 95%;
    background-color:ffd08c;
}
#indice{
	position: absolute;
	top: 110%;
	left: 34%;
	height: 782%;
	width: 35%;
	font-size: 25px;
    line-height: 2;
    letter-spacing: 0.6em;
    font-weight: 900;
    font-style: normal;
	background-color: ff6aed ;
}
#contenido{
	position: absolute;
	top: 110%;
	left: 70%;
	height: 782%;
	width: 30%;
	font-size: 19px;
	line-height: 1.8;
	letter-spacing: 0.6em;
	font-weight: 200;
    font-style: normal;
	background-color:00ffff;
}
#piedepagina{
	position: absolute;
	top: 900%;
	left: 34%;
	height: 50%;
	width: 46%;
	background-color: grey;
}
#contenido img{
	position: absolute;
	top: 89%;
	left: 30%;
	height: 10%;
	width: 65%;
}
#button li{
	display: inline;
}
